html{
    
    font-size: 100%;
    box-sizing: border-box;
    font-size: 12px;
<<<<<<< HEAD
    
    color: $darkGrayishBlue;
=======
    font-family: 'Kumbh Sans', sans-serif;

>>>>>>> parent of 0da2306 (Script completed)
    
}

*, *::before, *::after { 
    box-sizing: inherit;
}
body{
<<<<<<< HEAD
    padding: 3rem;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    background-image: linear-gradient($softViolet, $softBlue );
}

=======
    background: linear-gradient($softViolet, $softBlue);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 812px;
}
main{
    background-color: white;
    margin: 147px 24px;
    border-radius: 20px;
}
>>>>>>> parent of 0da2306 (Script completed)
