html{
    
    font-size: 100%;
    box-sizing: border-box;
    font-size: 12px;
    
    color: $darkGrayishBlue;
    
}

*, *::before, *::after { 
    box-sizing: inherit;
}
body{
    padding: 3rem;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    background-image: linear-gradient($softViolet, $softBlue );
}

