.card{
    background-color: white;
    border-radius: 2rem;
    max-width: 56rem;

    &__box{
        display: none;
    }
    &__image{
        img{
            width: 100%;
            height: auto;
            max-width: 25rem;
        }

    }

    &__text{

    }

}

@include breakpoint-up(large){
    .card{
        display: flex;
        position: relative;
        margin: 6rem auto;
        padding-right: 2rem;
        background-image: url(/images/bg-pattern-desktop.svg);
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: -13% center;
        &__image{
            display: flex;
            align-items: center;
            overflow: hidden;
            img{
                transform: translateX(-4rem);
                width: 100%;
                height: auto;
                //max-width: 25rem;
            }
        }
        &__box{
            display: block;
            position: absolute;
            left: 0;
            top: 57%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 1;
        }
    }
    .card__image{
        flex: 1;
    }
    .card__text{
        flex: 1;
    }
    
}